#video{
    position :fixed;
    width:100%;
    height:100%;
    object-fit: cover;
    z-index: -1;
}
.hero
{
  height: 100vh;
  width: 100%;
}
.banner {
    margin-top: 0;
    padding: 100px 0 100px 0;
    /*background-position: bottom center;*/
    background-size: cover;
    background-repeat: no-repeat;
  }
.banner .aligh-items-center{
    margin-top:100px;
    margin-right:50px;
    margin-left:50px;
}
.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}
.banner h1 {
  font-size: 130px;
  font-weight: 700;
  font-family: 'Bebas Neue';
  color: black;
  letter-spacing: 0.8px;
  margin-bottom: 20px;
  line-height: 1;  
  display: block;
}

.banner span{
  font-size: 50px;
  font-weight: 700;
  background-color: black;
  font-family: 'Poppins';
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  letter-spacing: 0.8px;  
  
}

.banner h2{
  font-size: 50px;
  font-weight: 700;
  font-family: 'Poppins';
  color: aliceblue;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}

.banner em{
  color: #FFFAF0;
}
.banner img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner p {
  color: #FFFAF0;
  font-size: 22px;
  font-family: 'Poppins';
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}

.banner button {
  background-color:  blueviolet;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  border-radius: 30px;
  padding: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}
.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.banner button:hover svg {
  margin-left: 25px;
}
.banner img {
  animation: updown 5s linear infinite;
  border-radius: 50%;
  width: 20rem;
}
@keyframes updown {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
}
.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}

